@use "../../variables" as *;

.home-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $bg-color-primary;
    padding-top: 120px;
}
.home-content {
    width: 100%;
    max-width: 1200px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    @media (min-width: map-get($grid-breakpoints, sm)) {
        padding: 2rem;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        max-width: 1200px;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        max-width: 1200px;
        padding: 3rem;
    }
}
.quizzes-layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
    margin-top: 1rem;

    @media (min-width: map-get($grid-breakpoints, sm)) {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1.5rem;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
        gap: 2rem;
    }
}
.quiz-content {
    width: 100%;
}
.home-nav-bar {
    width: 100%;
    max-width: 450px;
    //padding-right: 1.75rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 0.75rem;
    background-color: $bg-color-secondary;
}
.navbar-toggler {
    border: none;
}
.title {
    color: $title-text-primary;
    font-size: 4rem;
}
.title-link {
    color: $title-text-primary;
    font-size: 4rem;
}
.title-link:hover {
    color: $text-box-field;
}
.title-md {
    color: $title-text-primary;
    font-size: 3rem;
    width: 100%;
    text-align: left;
}

@media (max-width: map-get($grid-breakpoints, sm)) {
    .title-link {
        font-size: 2rem;
    }
    .title-md {
        font-size: 2rem;
    }
}

.color {
    color: $title-text-primary;
}
.color-secondary {
    color: $title-text-secondary;
}
.color-secondary:hover {
    color: $text-box-field;
}
.text-box {
    background-color: $text-box-field;
    color: $text-box-text;
}
.button-primary {
    background-color: $button;
    color: $button-text;
    border: none;
    height: 40px;
    width: 70px;
}
.button-primary:hover {
    background-color: $text-box-field;
    color: $button-text-secondary;
}
.button-primary-md {
    background-color: $button;
    color: $button-text;
    border: none;
    height: 60px;
    width: 100%;
    min-width: 130px;
}
.button-primary-md:hover {
    background-color: $text-box-field;
    color: $button-text-secondary;
}
.quiz-title-button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: normal;
    word-wrap: break-word;
}