@use "../../variables" as *;

.home-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: $bg-color-primary;
}
.home-nav-bar {
    width: 50%;
    max-width: 600px;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 0.75rem;
    background-color: $bg-color-secondary;
}
.home-content {
    flex: 0.02;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.title {
    color: $title-text-primary;
    font-size: 4rem;
}
.title-link {
    color: $title-text-primary;
    font-size: 4rem;
}
.title-link:hover {
    color: $text-box-field;
}
.color {
    color: $title-text-primary;
}
.color-secondary {
    color: $title-text-secondary;
}
.color-secondary:hover {
    color: $text-box-field;
}
.text-box {
    background-color: $text-box-field;
    color: $text-box-text;
}
.button-primary {
    background-color: $button;
    color: $button-text;
    border: none;
    height: 40px;
    width: 70px;
}
.button-primary:hover {
    background-color: $text-box-field;
    color: $button-text-secondary;
}