@use "../../variables" as *;

.quiz-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $bg-color-primary;
    flex-flow: column;
}
.quiz-card {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 0.75rem;
    background-color: $bg-color-secondary;

    @media (min-width: map-get($grid-breakpoints, sm)) {
        padding: 2rem;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        max-width: 400px;
    }

    @media (min-width: map-get($grid-breakpoints, lg)) {
        max-width: 850px;
        padding: 3rem;
    }
}
.create-nav-bar {
    width: 100%;
    max-width: 380px;
    //padding-right: 1.75rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 0.75rem;
    background-color: $bg-color-secondary;
}
.navbar-toggler {
    border: none;
}
.title {
    color: $title-text-primary;
    font-size: 4rem;
}
.color {
    color: $title-text-primary;
}
.text-box {
    background-color: $text-box-field;
    color: $text-box-text;
}
.text-box.selected-choice {
    background-color: fade-out($bg-color-secondary, 0.5);
    color: $text-box-text;
}
.button-sm {
    border: none;
    height: 40px;
    max-width: 100px;
    background-color: $button-secondary;
    color: $button-text-secondary;
}
.modal-content {
    background-color: $bg-color-secondary;
}

.modal-title, .modal-body h3 {
    color: $title-text-secondary;
}

.modal-footer {
    background-color: $bg-color-secondary;
    border-color: rgba(244, 198, 100, 0.3);
}