// Variables
$bg-color-primary: #F5B325;
$bg-color-secondary: #287073;

$title-text-primary:#287073;
$title-text-secondary: #F4C664;

$button: #287073;
$button-text: #F4C664;

$button-secondary: #F4C664;
$button-text-secondary: #287073;

$text-box-field: #D6E4E5;
$text-box-text: #2E3A59;

